$theme-primary: #F1245F;
$theme-secondary:lighten($theme-primary, 15%);
$padding: 62px;
$align: center;
$animate: (transition, font-size, opacity);
$header-sizes: ( 'h1': 142px, 'h2': 102px);
body {
    margin: 0px;
    background-color: $theme-secondary;
}

header {
    background-color: $theme-primary;
    padding: $padding;
    h1 {
        color: white;
        text-align: $align;
        transition: nth($animate, 2) 1s;
        font: {
            family: 'Stalemate', cursive;
            size: 142px;
            weight: normal;
        }
        &:hover {
            transform: scale(1.2);
        }
        @media screen and (max-width:1200px) {
            font-size: 82px;
        }
        @media screen and (max-width:800px) {
            font-size: map-get($header-sizes, 'h1')
        }
    }
}

h2 {
    color: $theme-primary;
    background-color: white;
    text-align: $align;
    font: {
        family: 'Stalemate', cursive;
        size: map-get($header-sizes, 'h2');
        weight: normal;
    }
}